@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using TicketManagement.MVC.Areas.Moderator.Pages.Manage
@using TicketManagement.MVC.Utilities
@using TicketManagement.MVC.Utilities.Extensions
@model TicketManagement.MVC.Areas.Moderator.Pages.Manage.EventSeatsModel
@inject IViewLocalizer ViewLocalizer
@inject IStringLocalizer<Loc> StringLocalizer

@{ 
    ViewData["Title"] = ViewLocalizer["view.Title"];
    ViewData["ActivePage"] = ManageNavPages.Events;
}

<h3>@ViewData["Title"]</h3>

<div class="col">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post">
        <input asp-for="@Model.EventAreaId" type="hidden"/>
        <input asp-for="@Model.EventId" type="hidden"/>
        <table class="table">
            <tr>
                <th>
                    <label asp-for="@Model.EventSeats.Items.First().Row " class="form-label"></label>
                </th>
                <th>
                    <label asp-for="@Model.EventSeats.Items.First().Number" class="form-label"></label>
                </th>
                <th>
                    <label asp-for="@Model.EventSeats.Items.First().State" class="form-label"></label>
                </th>
                <th></th>
            </tr>
            @foreach (var eventSeat in Model.EventSeats.Items)
            {
                <tr>
                    <td>@eventSeat.Row</td>
                    <td>@eventSeat.Number</td>
                    <td>@eventSeat.State.GetDisplayName()</td>
                    <td>
                        <div class="d-flex flex-row">
                            <a class="btn btn-outline-primary me-3" asp-page="./EventSeatEdit" asp-route-eventId="@Model.EventId" asp-route-id="@eventSeat.Id">@StringLocalizer["Edit"]</a>
                            <button asp-page-handler="Delete" asp-route-eventAreaId="@Model.EventAreaId" onclick="return confirm('@StringLocalizer["DeleteConfirm"]')" class="btn btn-danger btn-sm">@StringLocalizer["Delete"]
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>

@{
    var prevDisabled = !Model.EventSeats.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.EventSeats.HasNextPage ? "disabled" : "";
}

<a asp-action="EditList"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.EventSeats.CurrentPage - 1)"
   class="btn btn-primary @prevDisabled">
    @StringLocalizer["Previous"]
</a>
<a asp-action="EditList"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.EventSeats.CurrentPage + 1)"
   class="btn btn-primary @nextDisabled">
    @StringLocalizer["Next"]
</a>

<a class="nav-link" asp-page="./EventAreas" asp-route-eventId="@Model.EventId">@StringLocalizer["Back"]</a>
