@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.MVC.Utilities
@using Microsoft.Extensions.Localization
@model IEnumerable<TicketManagement.MVC.Models.ViewModels.Users.UserWithRolesViewModel>

@inject IStringLocalizer<Loc> StringLocalizer
@inject IViewLocalizer ViewLocalizer

@{ 
    ViewData["Title"] = ViewLocalizer["view.Title"];
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Roles)
        </th>
    </tr>
    @foreach (var user in Model)
     {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.Surname</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-controller="Roles" asp-route-userId="@user.Id">@StringLocalizer["AccessRights"]</a>
                    <button type="submit" class="btn btn-sm btn-danger">@StringLocalizer["Delete"]</button>
                </form>
            </td>
        </tr>
     }
</table>

 <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/AdminPanel">@ViewLocalizer["view.Back"]</a>